@charset "ISO-8859-1";

body {
	background-color: rgb(255, 255, 153);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.head {
	text-align: center;
	color: rgb(0, 0, 102);
	text-shadow: 2px 2px white;
	margin-top: 100px;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 45px;
	font-family: cursive;
}

.log {
	align-content: center;
	}

table {
	border: 7px rgb(0, 0, 102);
	border-style: inset;
	margin: 20px;
	font-size: 20px;
	background-color: rgb(230, 242, 255);
	height: auto;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

tr:nth-child(even) {
	background-color: rgb(204, 255, 230);
}
tr:nth-child(odd){
	background-color: rgb(255, 230, 255);
}

td {
	text-align: center;
	font-weight: bold;
	text-decoration: blink;
	color: rgb(0, 0, 102);
	font-size: 20px;
	font-family: sans-serif;
	padding: 10px;
}

.inputs {
	text-align: center;
	border: 3px solid rgb(0, 0, 102);
	background-color: rgb(255, 255, 204);
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
}

.footer {
	text-align: center;
	color: rgb(255, 26, 26);
	font-weight: bold;
	font-size: 25px;
}